!.config/spicetify/*.ini
!.config/vesktop/settings.json
!.config/vesktop/settings/
!.config/vesktop/state.json
!.config/vesktop/themes/
.config/.android/
.config/Bitwarden/
.config/Electron/
.config/Logseq/
.config/Notion/
.config/SideQuest/
.config/TabNine/
.config/Thunar/
.config/btop/
.config/btop/btop.log
.config/capacitor/
.config/dconf/
.config/figma-linux/
.config/go/
.config/gtk-3.0/
.config/htop/
.config/kitty/kitty-themes/
.config/libreoffice/
.config/nwg-look/
.config/pavucontrol.ini
.config/pulse/
.config/rog/
.config/simple-update-notifier
.config/spicetify/*
.config/spotify/
.config/spotui/*.cache
.config/tmux/plugins/
.config/vesktop/**
.config/waypaper/
.config/xfce4/
.config/xournalpp/
.config/xsettingsd/
