[Desktop Entry]
Type=Application
Version=2024.9.0
Name=Bitwarden
Comment=Bitwarden startup script
Exec=bitwarden-desktop
StartupNotify=false
Terminal=false