* {
  background-image: none;
}

window {
  background-color: rgba(46, 52, 64, 0.9);
}

button {
  background-color: #2e3440;
  border-style: solid;
  border-width: 0px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  color: #5e81ac;
}

button:focus,
button:active,
button:hover {
  background-color: #4c5160;
  color: #81a1c1;
  outline-style: none;
}

#sleep {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
